<div *ngIf="isLogin">
    <div class="row">
        <div class="small-12 columns">
            <h3>
                <i class="material-icons">account_circle</i> Login
            </h3>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="small-12 columns">
            <input type="email" [(ngModel)]="user.email" placeholder="email">
            <input type="password" [(ngModel)]="user.password" placeholder="password">
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="small-12 columns">
            <a class="success button large expanded" (click)="validateUser(user)">Login</a>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <a class="success button large expanded" (click)="navToSignup()">New to Policybazaar? Signup</a>
        </div>
    </div>
</div>


<div *ngIf="!isLogin">
    <div class="row">
        <div class="small-12 columns">
            <h3>
                <i class="material-icons">account_circle</i> Signup
            </h3>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="small-12 columns">
            <input type="text" [(ngModel)]="signup_user.username" placeholder="username">
            <input type="email" [(ngModel)]="signup_user.email" placeholder="email">
            <input type="password" [(ngModel)]="signup_user.password" placeholder="password">
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="small-12 columns">
            <a class="success button large expanded" (click)="registerUser(signup_user)">Submit</a>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <a class="success button large expanded" (click)="navToLogin()">Existing User? Login</a>
        </div>
    </div>
</div>