<div class="row">
    <div class="small-12 medium-8 columns">
        <h6>Please select the product you want and add item to your shopping cart.</h6>
        <h6>When you are done then proceed to checkout.</h6>
        <input type="text" [(ngModel)]="searchText" placeholder="search product here" (ngModelChange)="searchProducts($event)">
        <ul class="product-list">
            <li *ngFor="let product of products | async | filter : {name: searchText}" class="product-container">
                <div class="row">
                    <div class="medium-3 columns text-center">
                        <img src="./assets/{{product.id}}.jpg" class="product_image" />
                    </div>
                    <div class="medium-9 columns">
                        <h4>
                            <span class="text--bold js-product-name">{{product.name}}</span>
                            <small class="product_price js-product-price">&#8377; {{product.price}}</small>
                        </h4>
                        <p>
                            <button type="button" class="button success large js-btn-add" (click)="addProductToCart(product, 1)">Add To Cart</button>
                            <button type="button" class="button small js-btn-remove" *ngIf="productInCart(product) | async" (click)="removeProductFromCart(product, 1)">Remove item from cart</button>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="small-12 medium-4 columns">
        <app-shoppingcart></app-shoppingcart>
    </div>
</div>